@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: hwb(123 20% 64% / 0.892);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #a6c876;
  background: #ffff;
}
